/*#page_content {

}*/

.container {
    position: relative;
}

#logo {
    position: absolute;
    width: 5%;
    top: 10px;
    left: 15px;
}

#cart {
    position: absolute;
    width: 2.5%;
    top: 15px;
    left: 87.5%;
}

#home_img {
    width: 100%;
    height:auto;
    filter: brightness(0.9);
}

.button {
    position: absolute;
    top: 53%;
    left: 43%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
}

.explore {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 13px 30px;
    background-color: rgba(250, 240, 250, 0.9);
    color: rgb(78, 63, 144);
    border: 1px solid rgb(78, 63, 144);
}

#call_out {
    position: absolute;
    top: 30%;
    left: 11%;
    text-align: center;
    font-size: 75px;
    color:white;
    width:1100px;
}

/*********** Detail Page ************/
.detail {
    position: relative;
    margin: 3% 17%;
}

.mainImg {
    max-width: 60%;
    height: 450px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.otherImg img{
    width: 14%;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(0.7);
}

.backButton {
    position: absolute;
    margin-top: 3%;
    margin-left: 10%;
}

.backButton img {
    width: 20px;
}

.backButton a {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.textContent {
    position: absolute;
    top: 0px;
    left: 65%;
}

.oneCol {
    /*https://www.youtube.com/watch?v=HgwCeNVPlo0*/
    display: grid;
    grid-template-columns: 287px;
    grid-gap: 10px 30px;
}

.oneCol .selection{
    background-color: rgb(78, 63, 144);
    color: white;
}

.twoCol {
    /*https://www.youtube.com/watch?v=HgwCeNVPlo0*/
    display: grid;
    grid-template-columns: 120px 120px;
    grid-gap: 10px 30px;
    /*padding: 0px 5%;*/
}

.fourCol {
    /*https://www.youtube.com/watch?v=HgwCeNVPlo0*/
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-gap: 10px 34px;
}

.selection {
    position: relative;
    border-radius: 3px;
    left: 3px;
    top: 7px;
    width: 90%;
    border: 1px solid lightgray;
    text-align: center;
    color:gray;
    font-size: 15px;
    font-weight: 300;
}


/*********** HEADER ************/
header {
    /*text-align: center;*/
    padding: 20px;
    background-color: white;
    color: rgb(78, 63, 144);
    /*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
}

header a {
    color: gray;
    font-weight: 100;
    text-decoration: none;
    /*text-align: right;*/
    font-size: 15px;
}

header nav {
    /*float: right;*/
    right: 15%;
    position: absolute;
    top: 5px;
}

header nav ul li {
    width: 150px;
    text-align: center;
    display: inline-block;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    color: rgb(78, 63, 144);
}

h2 {
    margin: 0px;
    padding: 0px;
    margin-left: 1%;
    font-size: 17px;
    font-weight: 300;
    color: gray;
}

h3 {
    margin: 0px;
    padding: 0px;
    margin-left: 1%;
    font-size: 22px;
    font-weight: 300;
    color: rgb(78, 63, 144);
}

.title {
    margin: 0;
    margin-left: 5%;
    font-size: 17px;
    font-weight: 300;
}

.category {
    font-size: 20px;
    font-weight: 400;
    color: gray;
    margin-top: 2%;
    margin-left: 17%;
}

body {
    margin: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.signin {
    position: absolute;
    top: 20px;
    left: 94%;
    font-size: 14px;
    text-decoration: underline rgb(78, 63, 144);
}

/*********** FOTTER ************/
/*https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b*/
body::after {
    content: '';
    display: block;
    height: 115px; /* Set same as footer's height */
}


footer {
    position: absolute;
    width: 100%;
    height: 80px;
    margin-top: -5px;
    padding: 35px 0px;
    background-color: rgb(213, 213, 227);
    color: rgb(78, 63, 144);
}

.footerLinks {
    /*https://www.youtube.com/watch?v=HgwCeNVPlo0*/
    font-weight: 300;
    font-size: 13px;
    line-height: 150%;
    /*position: absolute;*/
    display: grid;
    grid-template-columns: 200px 200px;
    padding: 0px 18%;
}

.social {
    position: absolute;
    width: 100px;
    top: 40%;
    left: 85%;
}

/*********** IMG GRID ************/
/*https://www.w3schools.com/howto/howto_js_image_grid.asp*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 15% 5% 15%;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 30%;
    /*padding: 15px;*/
}

.column a {
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}


.column img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 270px;
    object-fit: cover;
    filter: drop-shadow(-5px 7px 8px rgba(150,150,150,.5));
}


/*shapes*/
.horizaontalline {
    position: absolute;
    width: 100%;
    height: 10px;
    top: 48px;
    border-bottom: 1px solid lightgray;
    /*z-index: -1;*/
}

.verticalline {
    position: absolute;
    width: 1px;
    height: 59px;
    left: 86%;
    top: 0px;
    border-right: 1px solid lightgray;
}

.divider2 {
    left: 91.5%;
}


.sectionBreak {
    position: relative;
    top: 110%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.rectangle {
    /*https://css-tricks.com/breaking-css-box-shadow-vs-drop-shadow/*/
    border-radius: 0px 0px 5px 5px;
    filter: drop-shadow(-5px 7px 15px rgba(200,200,200,.5));
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 82%;
    background-color: white;
    margin-bottom: 40px;
    margin-top: -5px;
}

.rectangle a {
    /*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
    color: rgb(78, 63, 144);
    font-weight: 300;
    font-size: 15px;
    line-height: 230%;
    margin-left: 10px;
    /*margin-top: 140px;*/
    text-decoration: none;
}

.leftArrow {
    position: absolute;
    top: 45%;
    width: 70px;
    height: 70px;
    background-color: white;
    z-index: 1;
    opacity: 0.5;
}

.rightArrow {
    position: absolute;
    top: 45%;
    right: 0px;
    width: 70px;
    height: 70px;
    background-color: white;
    z-index: 1;
    opacity: 0.5;
}

.img_overlay img {
    position: absolute;
    top: 38.5%;
    width: 55px;
    height: 55px;
    z-index: 2;
}

#detialRArrow {
    right: 42%;
}

#detialLArrow {
    left: 2%;
}

#homeRArrow {
    top: 46%;
    right: 1%;
}

#homeLArrow {
    top: 46%;
    left: 1%;
}

#detialLBox {
    top: 37%;
}

#detialRBox {
    top: 37%;
    right: 40%;
}