/*--------------------------------------------------------------*/
/************************fixed components***********************/
/*--------------------------------------------------------------*/
.highlight-look {
    position: fixed;
    left: -1%;
    top: 50%;
    font-size: 16px;
    transform: rotate(270.0deg);
}

.collection-box { width: 72px;}

.detail-box {width: 45px;}

.artists-box {width: 49px;}

.highlight-box {left: -100px; width: 107px;}

.box {
    padding-left: 5px;
    padding-top: 1px;
    height: 23px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgb(30, 37, 49) 50%);
    transition: background-position 1s;
}

.box:hover {
    background-position: -100% 0;
}

.container {margin: 3% 3% 3% 3%;}

.header {
  position: fixed;
  top: 0;
  margin: 3% 1% 3% 2%;
    margin-left: auto;
    margin-right: auto;
}

.name {
    position: fixed;
    right: 0;
    top: 10%;
    font-size: 16px;
    transform: rotate(270.0deg);
}

h1 {
  position: fixed;
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 900;
  font-size: 300%;
  /*margin-top: 200px;*/
  bottom: 0;
  /*top: 500px;*/
}

/* For desktop: */
.col-1 {
    /*position: absolute;*/
    left: 3%;
    width: 8%;
}
.col-2 {position: absolute; left: 14%; width: 8%;}
.col-3 {position: absolute; left: 23%; width: 8%;}
.col-4 {position: absolute; left: 30%; width: 27%;}
.col-5 {position: absolute; left: 55%; width: 33%;}

.runway img{
    padding: 15% 0% 15% 0%;
}

#detail {
    margin-left: 25px;
    margin-right: 45px;
    display: none;
}

#detailmain {
    margin-top: 20px;
    /*width: 92%;*/
}

img {
    width: 100%;
    /*left: 10%;*/
}

a {
    color: white;
    text-decoration: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    margin: 0;
    background-color: rgb(170, 170, 170);;
    color: white;
}

container-fluid {
    background-color: rgb(170, 170, 170);;
}

.subTitle {
    margin-top: 100px;
}

h2 {
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin: 0;
    margin-left: 1%;
    padding: 0;
}

.detailcontent {position: absolute; top: 80%; left: 30%; width: 62%;}

h3 {
    color: white;

    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.swatches {
    display: grid;
    grid-template-columns: 19% 19% 19% 19%;
    grid-gap: 8%;
}

.button {
    font-weight: 400;
    /*padding: 10px;*/
    text-decoration: none;
}

/*https://stackoverflow.com/questions/4770025/how-to-disable-scrolling-temporarily*/
.stop-scrolling {
  height: 100%;
  overflow: hidden;
  /*overflow: visible;*/
}

/*body, html {
  overflow: visible !important;
}*/

/*---------------------------------------------------------------*/
/************************home page specific***********************/
/*---------------------------------------------------------------*/

.popup {
    animation-duration: 5s;
    animation-name: slidein;
    background-color: rgb(213, 213, 227);
    border-radius: 5px;
    filter: drop-shadow(-5px 7px 15px rgba(200,200,200,.5));
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    object-fit: cover;
    padding-left: 7%;
    padding-top: 2%;
    position: absolute;
    right: 3%;
    opacity: 0;
    top: 10%;
    width: 14%;
}

/*animation inspiration from:*/
/*https://www.w3schools.com/css/css3_animations.asp*/
@keyframes slidein {
    0%   {right: -40%; opacity: 0}
    20%  {right: 3%; opacity: 1}
    80%  {right: 3%; opacity: 1}
    100% {right: 3%; opacity: 0}
}


